body {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  background: #001133;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.screen { display: flex; justify-content: center; align-items: center; height: 100%; }
.hidden { display: none; }
.box {
  background: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border: 2px solid white;
  text-align: center;
  border-radius: 10px;
}
#tetris { background: #000; image-rendering: pixelated; margin-top: 10px; }
.controls { margin-top: 10px; }
.ctrl {
  margin: 5px;
  padding: 12px;
  font-size: 14px;
  background: orange;
  color: black;
  border: 2px solid #772200;
  border-radius: 6px;
}
